.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #282c34;
    color: white;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: #61dafb;
    text-decoration: none;

}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar{
    font-size: 18px;
}

.navbar ul li a:hover{
    color: #61dafb;
}

.auth-buttons button{
    background-color: #61dafb;
    border: none;
    color: #282c34;
    padding: 8px 12px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: color 0.3s;
}

.auth-buttons button:hover{
    color: white;
}

@media screen and (max-width: 700px) {
  .navbar {   
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font-size: 12px;
  }
}

@media screen and (max-width: 700px) {
    .logo{
        font-size: 20px;
    }
}